@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: linear-gradient(0.25turn, #26f7a7, #abeb7b, #68d7eb);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: var(--main_bg);
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1rem;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #111;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
.right h2{
  margin-top: 3rem;
  text-align: center;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  top: 0;
  position: absolute;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  position: absolute;
  width: 100%;
  padding-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form h2{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  cursor: pointer;
  transition: all linear .2s;
}
.form h2:hover{
  transform: scale(1.1);
  color: #48dfb1;
  letter-spacing: 1px;
}
.form h2:nth-child(2):hover{
  color: #48afdf;
}

@media only screen and (max-width: 370px) {
  .container{
    width: 90%;
  }
  .login{
    font-size: 2rem;
    text-align: center;
  }
}
