<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://CashBag.klmaemn.repl.co">
    <meta property="og:title" content="CashBag">
    <meta property="og:description" content="Save edit your income and expenses right here!">
    <meta property="og:image" content="image/cashbag.png">

    <link rel="shortcut icon" href="image/cashbag.png" type="image/x-icon">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/sign_in.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>CashBag</title>
</head>
<body>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">CASHBAG</div>
            <div class="eula">Cash Bag is a website for recording your income and expenses. Now the era of writing down on paper is over!</div>
          </div>
          <div class="right">
            <h2>Start with</h2>
            <svg viewBox="0 0 320 300">
              <defs>
                <linearGradient
                                inkscape:collect="always"
                                id="linearGradient"
                                x1="13"
                                y1="193.49992"
                                x2="307"
                                y2="193.49992"
                                gradientUnits="userSpaceOnUse">
                  <stop
                        style="stop-color:#26f7a7;"
                        offset="0"
                        id="stop876" />
                  <stop
                        style="stop-color:#68d7eb;"
                        offset="1"
                        id="stop878" />
                </linearGradient>
              </defs>
              <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
            </svg>
            <div class="form">
              <h2 class="google-signIn"><i class="ri-google-fill"></i>Google</h2>
              <h2><i class="ri-facebook-circle-fill"></i>Facebook</h2>
            </div>
          </div>
        </div>
      </div>

      <script src="js/sign-in.js"></script>
</body>
</html>
